<template>
    <div class="new-mahasiswa">
        <div class="container">
            <div class="form-style-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <br><br>
                        <h3>Tambah Mahasiswa</h3><br>

                        <label for="nim">NIM</label>
                        <input type="tel" id="nim" v-model="nim" class="form-control" placeholder="Masukkan NIM" required><br>
                        
                        <label for="nama" class="a3">Nama</label>
                        <input type="text" id="nama" v-model="nama" class="form-control" placeholder="Masukkan Nama" required><br>
                        
                        <label for="jurusan" class="a1">Jurusan</label>
                        <input type="text" id="jurusan" v-model="jurusan" class="form-control" placeholder="Masukkan Jurusan" required><br>
                        
                        <label for="angkatan" class="a2">Angkatan</label>
                        <input type="tel" id="angkatan" v-model="angkatan" class="form-control" placeholder="Masukkan Angkatan" required><br>
                        
                        <button @click="addData" class="btn">Tambah Data</button> ||
                        <router-link to="/home" class="btn">Cancel</router-link>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import { db } from '@/main';

export default {
    name: 'new-mahasiswa',
    data() {
        return{
            nim: '',
            nama: '',
            jurusan: '',
            angkatan: '',
            trash: false
        }
    },
    
    methods: {
        addData(){
            var validasi = /^[0-9]+$/;
            var validasiHuruf = /^[A-Z,a-z]+$/;
            var nama1 = document.getElementById("nama");
            var jurusan1 = document.getElementById("jurusan")
            var nim1 = document.getElementById("nim");
            var angkatan = document.getElementById("angkatan");

            if(this.nim.length >= 8 && 
            this.angkatan.length >= 4 && this.angkatan.length < 5 && 
            nim1.value.match(validasi) && 
            angkatan.value.match(validasi) &&
            nama1.value.match(validasiHuruf) &&
            jurusan1.value.match(validasiHuruf)){
                db.collection('mahasiswa')
                .add({
                    nim: this.nim,
                    nama: this.nama,
                    jurusan: this.jurusan,
                    angkatan: this.angkatan
                })
                .then(docRef => {
                    alert('Mahasiswa Di Tambahkan: ', docRef.nama)
                    this.$router.push('/home')
                })
                .catch(error => {
                    alert('Error Menambahkan Data: ', error)
                })
            }else{
                alert('Format Salah!')
            }
        }
    }
}
</script>
<style scoped>
.form-style-5{
	max-width: 600px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 30px auto;
	padding: 20px;;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 label {
	display: block;
}
.btn
{
	color: #FFF;
	margin: 0 auto;
	background: #26A69A;
	font-size: 15px;
	text-align: center;
	font-style: normal;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
label{
    width: 100%;
    margin-left: -41%
}
.a3{
    margin-left: -40%;
}
.a1{
    margin-left: -39%;
}
.a2{
    margin-left: -38%;
}
input{
    width: 500px;
    margin-left: 5%
}
</style>