<template>
<div class="form-style-5">
    <div class="edit-mahasiswa">
        <h3>Edit Mahasiswa</h3>
        <br>
        <label for="nim">NIM</label>
        <input type="tel" id="nim" class="form-control" v-model="nim" placeholder="Masukkan NIM"><br>

        <label for="name" class="a3">Nama</label>
        <input type="text" id="nama" class="form-control" v-model="nama" placeholder="Masukkan Nama"><br>

        <label for="jurusan" class="a2">Jurusan</label>
        <input type="text" id="jurusan" class="form-control" v-model="jurusan" placeholder="Masukkan Jurusan"><br>

        <label for="angkatan" class="a2">Angkatan</label>
        <input type="tel" id="angkatan" class="form-control" v-model="angkatan" placeholder="Masukkan Angkatan"><br>

        <button @click="updateMahasiswa" type="submit" class="btn">Update</button> ||
        <router-link class="btn" to="/home">Cancel</router-link>
    </div>
</div>
</template>

<script>
import { db } from '@/main'

export default {
    name: 'edit-mahasiswa',
    data() {
        return{
            nim: '',
            nama: '',
            jurusan: '',
            angkatan: ''
        }
    },

    beforeRouteEnter(to, from, next){
        db.collection('mahasiswa').where('nim', '==', to.params.nim).get().then((querySnapShot) => {
            querySnapShot.forEach((doc) => {
                next(vm => {
                    vm.nim = doc.data().nim,
                    vm.nama = doc.data().nama,
                    vm.jurusan = doc.data().jurusan,
                    vm.angkatan = doc.data().angkatan
                })
            })
        })
    },

    watch: {
        '$route': 'fetchData'
    },

    methods: {
        fetchData() {
            db.collection('mahasiswa').where('nim', '==', this.$route.params.nim).get().then((querySnapShot) => {
                querySnapShot.forEach((doc) => {
                    this.nim = doc.data().nim
                    this.nama = doc.data().nama
                    this.jurusan = doc.data().jurusan
                    this.angkatan = doc.data().angkatan
                })
            })
        },

        updateMahasiswa() {
            var validasi = /^[0-9]+$/;
            var nim1 = document.getElementById("nim");
            var angkatan = document.getElementById("angkatan");

            if(this.nim.length >= 8 && 
            this.angkatan.length >= 4 && this.angkatan.length < 5 &&
            nim1.value.match(validasi) && 
            angkatan.value.match(validasi)){
                db.collection('mahasiswa').where('nim', '==', this.$route.params.nim).get().then((querySnapShot) => {
                    querySnapShot.forEach((doc) => {
                        doc.ref.update({
                            nim: this.nim,
                            nama: this.nama,
                            jurusan: this.jurusan,
                            angkatan: this.angkatan
                        })
                        .then(() => {
                            alert('Data Berhasil Di Update !')
                            this.$router.push('/home')
                        })
                    })
                })
            }else{
                alert('Format Salah !')
            }
        }
    }
}
</script>

<style scoped>
.edit-mahasiswa{
    margin: 30px;
}
.form-style-5{
	max-width: 600px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 30px auto;
	padding: 20px;;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 label {
	display: block;
}
.btn
{
	color: #FFF;
	background: #26A69A;
	font-size: 15px;
	text-align: center;
	font-style: normal;
	border-width: 1px 1px 3px;
}
label{
    width: 100%;
    margin-left: -47%
}
.a3{
    margin-left: -46%;
}
.a2{
    margin-left: -44%;
}
input{
    width: 500px;
    margin-left: -2%;
}
</style>