<template>
  <div class="home">
    <div>
    <b-navbar toggleable="lg" type="dark" class="navbar-inverse">
    <img class="image" border="0" src="../assets/logo_avida.png" width="70px">
    <b-navbar-brand><b>AVIDA UNIVERSITY</b></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item right>
        <router-link to="/new" style="text-decoration:none" class="new"><i class="material-icons">person_add</i></router-link>
        </b-nav-item>
        <b-nav-item right>
          <i class="material-icons out" @click="logout">exit_to_app</i>
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
    <div class="container">
      <p><b>Data Mahasiswa Universitas Avida</b></p>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th>NIM</th>
              <th>Nama</th>
              <th>Jurusan</th>
              <th>Angkatan</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody v-for="mhs in mahasiswa" :key="mhs.nim">
            <tr>
              <td>{{ mhs.nim }}</td>
              <td>{{ mhs.nama }}</td>
              <td>{{ mhs.jurusan }}</td>
              <td>{{ mhs.angkatan }}</td>
              <td>
                <router-link class="edit" v-bind:to="{ name: 'edit-mahasiswa', params: { nim: mhs.nim } }"><i class="material-icons">edit</i></router-link> | 
                <i @click="hapusMahasiswa(mhs.nim)" class="material-icons del">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase'
import { db } from '@/main'
// @ is an alias to /src

export default {
  name: 'home',
  data() {
    return {
      mahasiswa: [],
    }
  },

  mounted(){
    db
      .collection('mahasiswa')
      .where('trash', '==', false)
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
          const data = {
            id: doc.id,
            nim: doc.data().nim,
            nama: doc.data().nama,
            jurusan: doc.data().jurusan,
            angkatan: doc.data().angkatan,
            trash: doc.data().trash
          };
          this.mahasiswa.push(data)
        });
      });
  },

  methods: {
    logout: function() {
      if(confirm('Yakin akan Keluar ?')){
        firebase.auth().signOut().then(() => {
          this.$router.replace('login')
        })
      }
    },

    hapusMahasiswa: function (nim){
      if(confirm('Yakin Menghapus Data Ini ?')){
        if(nim){
          db.collection('mahasiswa').where('nim', '==', nim).get().then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              doc.ref.update({
                trash: true
              }).then(() => {
                alert('Data ' + nim + ' Terhapus');
                window.location.reload();
              }).catch((error) => {
                alert(error);
              })
            })
          })
        }else{
          this.error = 'Format Salah/Tidak Ada'
        }
      }
    }
  }
}
</script>

<style scoped>
.container{
  margin-top: 30px;
}
.navbar-inverse {
  background: #26A69A;
  font-size:18px; 
}
.thead{
  background-color: #26A69A;
}
p{
  font-size: 26px
}
.new{
  color:whitesmoke;
  text-decoration:none;
}
.new:hover{
  color:white;
  opacity: 0.6;
}
.edit{
  color: grey;
  text-decoration: none;
}
.edit:hover{
  color:darkslategrey;
}
.del{
  cursor: pointer;
  color: #f24e4e;
}
.del:hover{
  cursor: pointer;
  color: maroon;
}
.out{
  color:whitesmoke;
  cursor: pointer;
}
.out:hover{
  color: white;
  cursor: pointer;
  opacity: 0.6;
}
</style>