<template>
    <div class="login">
        <br>
        <h2 class="univ-font"><b>UNIVERSITAS AVIDA</b></h2>
        <img src="../assets/logo_transparent.png" class="univ-logo" alt="Univ Logo">
        <br>
            <b>Masukkan Nomor Telepon Dengan Benar ! </b><br>
            <select>
                <option value="">+62</option> 
            </select>
            <input type="tel" v-model="phNo" placeholder="8XXXXXXXXX"> <br><b></b>
            <button class="btn btn-outline-dark" id="sign-in-button" @click="sendOtp">Kirim OTP</button>
        <div id="recaptcha-container"></div>
        <div v-show="otpCode">
            <input type="tel" v-model="otp" placeholder="OTP Code"><br>
            <button @click="verifyOtp" class="btn btn-outline-dark">Verifikasi</button><br> 
            <button @click="sendOtp()" class="btn btn-outline-dark">Kirim Lagi OTP</button><br>
        </div>
        <br><br><br>
        <h5>
            atau Masuk dengan Google <br>
            <button @click="socialLogin" class="social-button" style="margin-bottom: 23px;">
                <img src="../assets/google-logo.png" alt="Google Logo">
            </button>
        </h5><br>
    </div>
</template>

<script>
import firebase from 'firebase';

export default {
    name: 'login',
    data() {
        return{
            email: '',
            password: '',
            phNo: '',
            appVerifier: '',
            otp: '',
            otpCode: false
        };
    },
    methods: {
        socialLogin() {
            const provider = new firebase.auth.GoogleAuthProvider();

            firebase.auth().signInWithPopup(provider).then((result) => {
                this.$router.replace('home');
                this.result = result
            }).catch((err) => {
                alert('Oops. ' + err.message)
            })
        },

        sendOtp(){
            if(this.phNo.length < 10){
                alert('Maaf Nomor Yang Anda Masukkan Salah !');
            }else{  
                let countryCode = '+62'
                let phoneNumber = countryCode + this.phNo
                let appVerifier = this.appVerifier

                firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
                    .then(function (confirmationResult) {
                    window.confirmationResult = confirmationResult;
                    alert('SMS Terkirim')
                    }).catch(function (error) {
                    alert('Error ! SMS Tidak Terkirim / ' + error.message )
                });
            this.otpCode = true;
            }
        },
        
        verifyOtp(){
            if(this.phNo.length < 10 || this.otp.length != 6){
                alert('Nomor Telepon/Kode OTP !');
            }else{
                let vm = this
                let code = this.otp
                var user

                window.confirmationResult.confirm(code).then(function (result) {
                    result.user;
                    vm.$router.push('home');
                }).catch(function (error) {
                    alert('Oops ! ' + error.message);
                    this.user = user;
                });
            }
        },
        initReCaptcha(){
            setTimeout(()=>{
            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
                'size': 'invisible',
                'callback': function(response) {
                this.response = response
                },
                'expired-callback': function() {
                }
            });
            
            this.appVerifier =  window.recaptchaVerifier
            },1000)
        }
        },
    created(){
        this.initReCaptcha();
    }
}
</script>

<style scoped>
.login{
    background: 
    linear-gradient(rgba(38, 166, 154, 0.7), 
    rgba(102, 187, 106, 0.7)),  
    url(../assets/hw5.jpg);
    background-size: cover;
}
h2{
    color: black;
}
.univ-font{
    font-family: 'LibreBarksVille';
}
select{
    margin: 1px 0;
    padding: 5px;
    background-color: #e6e6e6;
    border-radius: 12%;
    border: 1;
    height: 38px;
    width: 65px;
} 
input{
    margin: 10px 0;
    margin-left: 10px; 
    width: 20%;
    padding: 6px;
    border-radius: 7px 7px;
    background-color: #e6e6e6;
    border: 0;
}
input:hover{
    background-color: white;
}
button{
    margin-top: 20px;
    width: 10%;
    cursor: pointer;
}
p{
    margin-top: 40px;
    font-size: 13px;
}
p a{
    text-decoration: underline;
    cursor: pointer;
}
.social-button{
    width: 75px;
    background: white;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
    border: 0;
}
.univ-logo{
    width: 200px;
    padding: 10px;
    outline: 0;
    border: 0;
}
.social-button:active{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.social-button img{
    width: 100%;
}
.custom-select{
    width: 60px;
    height: 38px;
}
</style>